@page
@model ScrimOrganizerV2.Pages.VersusPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VersusTeam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VersusTeam.Team1ID" class="control-label">Your team</label>
                @*<input asp-for="VersusTeam.Team1ID" class="form-control" />*@
                <select asp-for="VersusTeam.Team1ID" asp-items="Model.Options" class="form-control">
                    <option>Choose your own team</option>
                </select>
                <span asp-validation-for="VersusTeam.Team1ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VersusTeam.Team2ID" class="control-label">Enemy Team</label>
                @*<input asp-for="VersusTeam.Team2ID" class="form-control" />*@
                <select asp-for="VersusTeam.Team2ID" asp-items="Model.Options" class="form-control">
                    <option>Choose your enemies</option>
                </select>
                <span asp-validation-for="VersusTeam.Team2ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
