@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ScrimOrganizerV2</h1>
    <p>Welcome to Scrom Organizer.</p>
    <p> This is a webapp that makes it easy for you to create a team and battle agianst other teams</p>
</div>
